* {
  box-sizing: border-box;
  margin : 0
}

.food-link {
  text-align: center;
  text-decoration: none;
}

.food-link:hover {
  text-decoration: none;
}

.food-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 80vw;
  -webkit-box-shadow: 0px 4px 20px 0px #000000; 
  box-shadow: 0px 4px 20px 0px #000000;
}

.food-card img {
  -webkit-box-shadow: 0px 1px 20px -3px #000000; 
  box-shadow: 0px 1px 20px -3px #000000;
  margin-bottom: 10px;
  width: 40vw;
}

.food-card span {
  color: #001219;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #143642;
}
